#game-area {
	margin-left: 100px;
	margin-top: 50px;
}

#game-board {
	margin-right: auto;
	margin-left: auto;
}

.row {
	clear: both;
}

.tile {
	float: left;
	height: 18px;
	width: 18px;
	background: white;
	text-align: center;
	
	border: solid black 1px;
}

.tile.bombed {
	background: red;
}

.tile.hidden {
	color: transparent;
	background-color: gray;
}

.tile.hidden.flagged {
	background-color: green;
}


#side-panel {
	margin-right: auto;
	margin-left: auto;
	height: 100px;
	border: dashed blue 1px;
	
	text-align: center;
}

#panel-header {
	text-align: center;
}

#bomb-count {
	text-align: center;
	color: red;
}

#flag-button {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
