.row {
	clear: both;
}

.tile {
	float: left;
	height: 18px;
	width: 18px;
	background: white;
	text-align: center;
	
	border: solid black 1px;
}

.tile.bombed {
	background: red;
}

.tile.hidden {
	color: transparent;
	background-color: gray;
}

#game-board {
	float: left;
}

#side-panel {
	position: absolute;
	top: 100px;
	right: 200px;
	height: 200px;
	width: 300px;
	border: dashed blue 1px;
}